.header__exit-button {
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: #000;
  color: #A9A9A9;
  cursor: pointer;
  transition: opacity .3s linear;
}


.header__exit-button:hover {
  opacity: .6;
}