.header {
  max-width: 880px;
  padding-top: 45px;
  margin: 0px auto 0;
  border-bottom: 1px rgba(84, 84, 84, 0.7) solid;
  display: flex;
  position: relative;
  justify-content: space-between;
}

@media all and (max-width: 700px) {
  .header {
    padding-top: 28px;
  }
}