.element__button-delete {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  width: 18px;
  height: 19px;
  transition: opacity .3s ease-out;
  cursor: pointer;
  background-image: url(../../../images/button-delete.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 2;
}

.element__button-delete:hover {
  opacity: .5;
}