.enter-form__item {
  width: 356px;
  height: 40px;
  padding: 0;
  border: 0;
  margin: 17px 0 0;
  box-sizing: border-box;
  outline: none;
  border-bottom: 2px solid #CCCCCC;
  color: white;
  background-color: black;
  font-size: 500;
  line-height: 15px;
}

.enter-form__item ::placeholder {
  color: #CCCCCC;
}