.popup__save-button {
  border: none;
  width: 358px;
  height: 50px;
  padding: 0;
  cursor: pointer;
  background-color: black;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  color: white;
  text-align: center;
  border-radius: 2px;
  margin-top: 18px;
  position: relative;
}

@media all and (max-width: 700px) {
  .popup__save-button {
    width: 238px;
    height: 46px;
    margin-top: 45px;
    font-size: 14px;
    line-height: 1.17;
  }
}

.popup__save-button:hover {
  background-color: rgba(0, 0, 0, .8);
}