.profile__description {
  max-width: 335px;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media all and (max-width: 700px) {
  .profile__description {
    max-width: 282px;
    margin-top: 14px;
    font-size: 14px;
    line-height: 1.17;
    text-align: center;
  }
}